<div>
<nav>
<ul>
    <li><a routerLink="/page2">Quienes Somos</a></li>
    <li><a routerLink="/page1">Contacto</a></li>
    <li><a routerLink="/producto">Destinos Paradisiacos</a></li>
    <li><a routerLink="/productos">Destinos</a></li>
    <li><a routerLink="/mascota">Mascota del dia</a></li>
  </ul>
</nav>
</div>

<hr>
<router-outlet></router-outlet>
<hr>

<div>
<!--   <h1>Mira la temperatura que hace en tu ciudad de destino</h1> -->
  City:
   <input #myCities/>
    <button class="myButton" (click)="addCity(myCities.value)">Add</button>
</div>
{{cities}}
<app-cities [cities]="cities"></app-cities>
