/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Thasadith', sans-serif;
    background: #02A694;
    background-repeat: no-repeat;
    color: white
} 